body { 
  background: url('../images/marvelvillains.jpg') no-repeat center center fixed; 
  background-size: cover;
}


.images{
	height: 370px;
	width: 260px;
	position: inherit;
}
h1.infoTitle{
	text-align: center;
	text-decoration: underline;
 }
.panel-primary>.panel-heading, .btn-primary{
    color: #9d9d9d;
    background-color: #101010;;
    border-color: #101010;
    text-align: center;
}

.panel-primary {
    border-color: #101010;
}
.navbar-brand{
	font-size: 40px;
	padding-left: 80px;
	padding-right: 40px;
}
#characterSubmit{
	width: 100%;
}

#moviesView, #comicsView{
	background-color:#ffffff;
	border: 1px solid black;
	opacity: 0.9;
	margin-top: 20px;
	filter: alpha(opacity=60); 
}

#moviesView{
	margin-right: 5px;
	width: 40%;
}

#comicsView{
	margin-left: 5px;
	width: 55%;
}