<!-- main section/search results -->

<body id="page-top">

	<!-- About Section -->
	<section id="about">
			<div class="container">
					<div class="row">
							<div class="col-lg-12 text-center">
									<h2 class="section-heading">About</h2>
							</div>
					</div>
					<div class="row">
							<div class="col-lg-8 col-lg-offset-2 text-center">
									<p class="large text-muted">
										<span id="appName">“Can I Eat This?”</span>
									</p>
									<p class="large text-muted">
									... is a helpful app that can improve the lives of people with food allergies.
									Users are able to search any product by a UPC code and view the ingredients & allergens that product contains.
									Simply press the “Scan UPC” button, hold the UPC up to your camera, and the code will appear in the search box.
									Press “Search” and your results will appear! You can also manually type in the UPC code in the search text box.
									Disclaimer: This website is not a substitute for reading the packing on a product. Always read the ingredients and allergen information before eating. “Can I Eat This?” is not responsible for any reactions that may occur after eating a product that was searched on this website.
									</p>
									<p class="large text-muted">
									<span id="disclaimer">Disclaimer:</span>
									</p>
									<p class="large text-muted">
									This website is not a substitute for reading the packing on a product. Always read the ingredients and allergen information before eating. “Can I Eat This?” is not responsible for any reactions that may occur after eating a product that was searched on this website.
									</p>
									<ul class="nav navbar-nav navbar-right">
											<li><a class="page-scroll" href="#team">Team</a></li>
											<li class="page-scroll"><a href="#page-top">Go to the top of the page</a></li>
									</ul>
							</div>
					</div>
			</div>
	</section>


	<!-- Team Section -->
	<section id="team" class="bg-light-gray">
			<div class="container">
					<div class="row">
							<div class="col-lg-12 text-center">
									<h2 class="section-heading">Our Amazing Team</h2>
									<h3 class="section-subheading text-muted">The Developers</h3>
							</div>
					</div>
					<div class="row">
							<div class="col-sm-4">
									<div class="team-member">
											<img src="https://avatars1.githubusercontent.com/u/16892573?v=3&s=400" class="img-responsive img-circle" alt="">
											<h4>Jahdasha Flagg</h4>
											<p class="text-muted">Full Stack Developer and Designer</p>
											<ul class="list-inline social-buttons">
													<li><a href="https://www.linkedin.com/in/jahdasha-flagg-13838937"><i class="fa fa-linkedin"></i></a></li>
													<li><a href="https://github.com/jahdasha"><i class="fa fa-github"></i></a></li>
											</ul>
									</div>
							</div>
							<div class="col-sm-4">
									<div class="team-member">
											<img src="https://avatars1.githubusercontent.com/u/8504504?v=3&s=400" class="img-responsive img-circle" alt="">
											<h4>Jaime Lipschitz</h4>
											<p class="text-muted">Full Stack Developer and Designer</p>
											<ul class="list-inline social-buttons">
												<li><a href="https://github.com/Jlipschitz"><i class="fa fa-github"></i></a></li>
											</ul>
									</div>
							</div>
							<div class="col-sm-4">
									<div class="team-member">
											<img src="https://avatars0.githubusercontent.com/u/16704635?v=3&s=400" class="img-responsive img-circle" alt="">
											<h4>Brianne Hostutler</h4>
											<p class="text-muted">Full Stack Developer and Designer</p>
											<ul class="list-inline social-buttons">
													<li><a href="https://www.linkedin.com/in/briannehostutler"><i class="fa fa-linkedin"></i></a></li>
													<li><a href="https://github.com/BrianneHostutler"><i class="fa fa-github"></i></a></li>
											</ul>
									</div>
							</div>
					</div>
					<ul class="nav navbar-nav navbar-right">
							<li><a class="page-scroll" href="#about">About</a></li>
							<li class="page-scroll"><a href="#page-top">Go to the top of the page</a></li>
					</ul>
			</div>
	</section>
</body>
