#logo {
    color: white;
    float: left;
    font-size: 22pt;
    margin-top: 17px;
    margin-left: 10px;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}
}

#header {
    background-color: gray;
}

button {
    text-decoration: none;
}

#searchTextbox {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
}

#searchButton {
    padding: 7px 12px 7px 12px;
    margin-top: 5px;
    margin-left: 29%;
    border-radius: 25px;
    background-color: gray;
    color: white;
    border: none;
}
#newSearchButton{
  padding: 7px 12px 7px 12px;
  border-radius: 25px;
  background-color: gray;
  color: white;
  border: none;
}
#text{
  color: white;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: italic;
  font-size: 20px;
}

#scanButton {
    padding: 7px 12px 7px 12px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 25px;
    background-color: gray;
    color: white;
    border: none;
}

#scanButton:hover {
    color: rgb(52, 54, 66);
}
#searchButton:hover{
  color: rgb(52, 54, 66);
}
#newSearchButton:hover{
  color: rgb(52, 54, 66);
}

video{
  margin-top: 50px;
  background-color: black;
  margin-left: -80px;
}

#loggingOut {
    padding: 7px 12px 7px 12px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 25px;
    background-color: #2f889a;
    color: white;
    border: none;
    text-decoration: none;
}

form {
    width: 500px;
    margin: 50px auto;
    margin-top: 0px;
    margin-bottom: 200px;
    padding-top: 160px;
    padding-bottom: 70px;
}

#searchSection {
    background: floralwhite;
    margin: 50px;
    border: 3px solid white;
    border-radius: 5px;
}

#searchSection h2 {
    color: orange;
    font-size:2.9rem;
}

#searchSection h4 {
    color: orange;
    font-size:1.8rem;
    text-decoration: underline;
}

#upcCodeResult {
    color: slategray;
}

.listItems {
    padding-left: 10px;
}

#searchAgain {
    text-align: center;
    padding: 40px;
}
.aboutus{
    border-radius: 25px;
    background-color: gray;
    color: white;
    border: none;
}
section#about{
  margin-top: 10px;
}
span#appName{
  color: #fed136;
  font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
  font-size:40px;
}
span#disclaimer{
  color: red;
  font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
  font-size:40px;
}
section#aboutnav{
    padding: 0px;

}
footer {
    height: 50px;
    background-color: #343642;
    padding: 30px;
    text-align: center;
    color: white;
    margin-top: -15px;
    width: 100%;
}
@media (max-width: 768px) {
    #logo {
        margin-top: 0px;
    }
    form{
      width: 100%;
    }
}
